:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  contain: strict;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.content {
  pointer-events: all;
}

:host(.type-alert) .container {
  justify-content: center;
  align-items: center;
}

:host(.type-alert) .content {
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  padding: 10px;
  max-width: 500px;
  min-height: 100px;
  background: white;
  color: black;
  box-sizing: border-box;
}
