.demo-page {
  display: flex;
  padding: 20px clamp(10px, calc(19% - 100px), 130px);
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.25;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  user-select: text;
}

.demo-page a {
  color: black;
  font-weight: 600;
}

.demo-page h2 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.demo-page h3 {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 400;
}

.demo-page h3:first-child {
  margin-top: 20px;
}

.demo-page p {
  margin: 0;
  line-height: 1.5;
}

.demo-page ul {
  font-size: 18px;
  list-style: none;
}

.demo-page .section,
.demo-page .section2 {
  margin-bottom: 40px;
}

.demo-page .section {
  flex: 3;
  max-width: 400px;
}

.demo-page .section2 {
  display: flex;
  flex: 4;
  flex-direction: column;
  margin-right: clamp(20px, 10%, 80px);
  max-width: 600px;
  min-width: 240px;
  width: 100%;
}
.demo-page .logo {
  margin: 0 0 10px;
  width: 100%;
  max-width: 280px;
}

.demo-page set-file-loader {
  flex: 1;
  margin: 30px 0 10px 0;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.demo-page set-file-loader:hover {
  background: var(--set-contrast);
  transform: translateY(-3px);
  box-shadow: 0 7px 15px #0000003c;
}

.demo-page set-file-loader h2 {
  margin: 10px 0;
  font-size: 25px;
}

.demo-page set-file-loader p {
  margin-bottom: 15px;
  font-size: 18px;
}

.demo-page .art {
  width: 100%;
}

.demo-page .demos {
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.demo-page .demos button {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: var(--set-secondary);
  color: var(--set-secondary-text);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1;
  min-width: 150px;
  transition: transform ease-in-out 200ms;
}

.demo-page .demos button[disabled] {
  cursor: wait;
  opacity: 0.5;
}

.demo-page .demos button:not([disabled]):hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px #0000003c;
}

.demo-page .demos h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 5px 10px;
}

.demo-page .demos .demo-img {
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
  aspect-ratio: 13 / 9;
}

.demo-page .demos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demo-page .powered-by {
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
}

.demo-page a.help {
  cursor: help;
}

.demo-page .disclaimer {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .demo-page {
    padding: 10px 20px;
  }

  .demo-page .section2 {
    margin-right: 20px;
  }

  .demo-page .demos button {
    max-width: 100%;
  }

  .demo-page .demos button:not([disabled]):hover {
    transform: none;
    box-shadow: none;
  }
}
