:host {
  width: 220px;
  height: 100vh;
  box-sizing: border-box;
  background: transparent;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.toolbar-header-btn {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font-size: 27px;
  display: flex;
  padding: 2px 10px;
  margin: 0;
  outline: none;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.toolbar-header-btn:hover {
  background: var(--set-secondary);
  color: var(--set-secondary-text);
  cursor: pointer;
}

.toolbar-header-btn set-icon {
  display: block;
}

.toolbar-content {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-bottom: 20px;
  flex: 1;
}

:host(.closed) {
  width: 30px !important;
}

:host(.closed) .toolbar-header-btn {
  height: 100%;
  padding: 0;
}

:host(.closed) .toolbar-content {
  display: none;
}

h1 {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 0px 8px;
  font-size: 17px;
  font-weight: 500;
  z-index: 1;
  color: var(--set-background-text);
  background: var(--set-background);
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 3px 3px #0000000d;
}

h1 > set-icon {
  font-size: 20px;
  margin-right: 8px;
}

.tool-content {
  padding: 8px 0px 15px;
  font-size: 14px;
}

dt {
  font-size: 14px;
  font-weight: 600;
}

dd {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="range"] {
  width: 100%;
}

form label {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li > set-icon {
  margin-right: 5px;
}

table {
  width: 100%;
  font-size: 14px;
  border: 0;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

td {
  padding: 5px 2px;
}

.measurement {
  font-weight: 500;
  text-align: right;
}

set-control-colormap,
set-control-geometries {
  --border-color: rgba(97, 97, 97, 0.2);
}

.measure-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.material-form {
  padding: 5px 0 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.material-form label {
  margin-bottom: 10px;
  flex: 1;
  min-width: 50%;
}

.material-form input {
  width: 100%;
  font-size: 26px;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  color: inherit;
  height: 32px;
  padding: 0;
  margin: 0;
}

.add-material {
  display: block;
  border: 0;
  margin: 0;
  background: var(--set-medium);
  color: var(--set-medium-text);
  font-size: 16px;
  width: 100%;
  padding: 5px;
  font-weight: 400;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.add-material:hover {
  background: var(--set-medium-tint);
}

.add-material set-icon {
  margin-right: 5px;
}

.no-panel {
  text-align: center;
}

.no-panel h2 {
  color: var(--set-secondary);
}

.no-panel p {
  font-size: 16px;
}

label {
  display: block;
  padding: 8px 0;
  font-size: 15px;
}

label input {
  font-size: 16px;
  margin-right: 10px;
}

.planes-selection {
  background: #29262d;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

.planes-selection > button {
  background: transparent;
  border: 0;
  display: block;
  margin: 0;
  padding: 0 7px;
  margin: 0 2px;
  opacity: 0.55;
  border-radius: 11px;
  outline: none;
  flex: 1;
  border: 1px solid transparent;
}

.planes-selection > button:hover {
  background: #373942;
}

.planes-selection > button.selected {
  opacity: 1;
  background: #373942;
  border-color: var(--set-secondary);
}

set-view-report {
  padding: 0;
}

set-view-report::part(header) {
  display: none;
}

set-view-report::part(basic) {
  background: transparent;
  padding: 0;
}

set-view-report::part(title) {
  font-size: 17px;
  font-weight: 500;
}

set-view-report::part(value) {
  display: block;
}

set-view-report::part(structured-report) {
  display: none;
}
