h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #737373;
}

.alert-container {
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-btn {
  background: var(--action-color);
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 16px;
  padding: 5px 15px;
  border: 0;
  border-radius: 13px;
  font-weight: 400;
  cursor: pointer;
  min-width: 162px;
}

.donated-title {
  text-align: center;
}

.donated-title h1 {
  font-size: 20px;
  font-weight: 600;
}

.donate-panel {
  text-align: center;
  background: #ebebeb;
  border-radius: 10px;
  padding: 30px 30px;
  margin-top: 40px;
}

.donate-panel h2 {
  margin: 0 auto;
  max-width: 300px;
  display: block;
  font-size: 24px;
  font-weight: 800;
}

.donate-panel p {
  color: #737373;
  margin: 25px 0;
  font-size: 16px;
}

.donate-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.donate-partners > img {
  flex: 1;
  max-width: 100px;
}

.donate-btn {
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
}

.donate-thanks {
  font-size: 20px;
  font-weight: 700;
}

.share-btn set-icon {
  font-size: 1.5em;
  margin-right: 8px;
}

set-progress-bar {
  margin: 0;
  margin-top: 20px;
}

code {
  background: black;
  color: #c1c1c1;
  padding: 8px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: copy;
  margin-top: 25px;
  transition: background 200ms linear;
  white-space: nowrap;
  overflow-x: auto;
}

code:hover {
  background: black;
}

code.copied {
  background: var(--set-secondary);
  color: var(--set-secondary-text);
}
