h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.alert-container {
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-btn {
  background: var(--action-color);
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 16px;
  padding: 5px 15px;
  border: 0;
  border-radius: 13px;
  font-weight: 400;
  cursor: pointer;
  min-width: 162px;
}

.share-btn set-icon {
  font-size: 1.5em;
  margin-right: 8px;
}

p {
  font-size: 15px;
}

set-progress-bar {
  margin: 0;
  margin-top: 20px;
}

code {
  background: var(--set-medium);
  color: var(--set-medium-text);
  padding: 8px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: copy;
  margin-top: 25px;
  transition: background 200ms linear;
  white-space: nowrap;
  overflow-x: auto;
}

code:hover {
  background: black;
}

code.copied {
  background: var(--set-secondary);
  color: var(--set-secondary-text);
}
